h1 {
    color: #1ea585 ;
    font-size: xx-large;
    text-align: center;
}

h2 {
    color: #0818a7;
    
    font-size: xx-large;
    text-align: center;
}

body {
    padding-top: 10%;
    background-color: #d9a8ee  ;
}