h1{
    color: #FFFFFF;
    font-weight: 400;
    text-align: center;
}

b{
    font-weight: 600;
}

body{
    background-color: #000000
}

div.inicio{
    padding-top: 3%;
}

div {
    text-align: center;
}

button {margin: 5%}