{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/leap_styles.css" %}">
    <script>
        console.log("Hola desde el navegador");
    </script>
</head>
    <body>
        <div class="inicio"> 
                <h1>
                Te dire si un año es
                <b>biciesto</b>
                </h1>
            <input id="year" placeholder="Escribe un año" maxlength="5" onkeyup="key_validation(event)">
        </div>
        <div class="boton">
            <button type="button" onclick="leap()">Verificar año</button>
        </div>

        <!-- <script src="main.js"></script> -->
    </body>
</html>