h1
{
    color: #A06535;
    font-weight: 400;
    text-align: center;
}
b
{
    font-weight: 600;
}
body{

    background-color: #2F4B26;
}
div.inicio{
    padding-top: 20%;
}
div.boton{
    text-align: center;
}
div.inicio{
    text-align: center;
}
button{
    margin: 1cm;
}