body{
    background-color: rgb(236, 236, 227);
    font-family: 'Montserrat', sans-serif;
    
  }

h1{
    color: #9137b4;
    text-align: center;
  }
  
h2
{
    color: #161616;
    text-align: center;
}

h3
{
    color: #161616;
    text-align: center;
}
h4
{
    color: #161616;
    text-align: center;
}
h5
{
    color: #161616;
    text-align: center;
}