<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="css/index.css">
    <title>Mi marketplace</title>
</head>
<body>
    <header class="main-header">
        <div class="container">
            <div class="main-header__container" >
                <h1 class="main-header__title">Mi marketplace</h1>
                <span class="icon-menu fas fa-bars" id="btn-menu"></span>
                <nav class="main-nav">
                    <ul class="menu">
                        <li class="menu__item"><a href="" class="menu__link">Home</a></li>
                        <li class="menu__item"><a href="" class="menu__link">About</a></li>
                        <li class="menu__item"><a href="" class="menu__link">Features</a></li>
                        <li class="menu__item"><a href="" class="menu__link">Shop</a></li>
                        <li class="menu__item"><a href="" class="menu__link">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <div class="main-header__container">
                <span class="main-header__txt">Contacto</span>
            </div>
            <div class="main-header__container">
                <input type="search" class="main-header__input" placeholder="buscar productos"><i class="fas fa-search"></i>
            </div>
        </div>
        <div id="down-header">
        </div>
        <div>
            <p>Aqui habran cosas que comprar, mientras tanto, escoge el elemento sorpresa!</p>
            <button>Sorpresa!</button>
        </div>
    </header>
    
</body>
</html>