body
{
    
    background-color: #202031;

}
h1
{
    color: #ffbb2a;
    text-align: Center;
    font-weight: 400;
}

h2
{
    color: #ffbb2a;
    text-align: Center;
    font-weight: 400;
}

