<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi marketplace</title>
</head>
<body>
    <div class="header-top">
        <div class="container">
        </div>
    </div>
    <div class="header-down">
        <form action="" method="post">
            <div class="container-input">
                <label for="usuario">Escriba su usuario</label>
                <input type="text" name="user" id="user">
            </div>
            <div class="container-input">
                <label for="password">Escriba su contraseña</label>
                <input type="text" name="pass" id="pass">
            </div>
            <div>
                <button>Login</button>
            </div>
        </form>
    </div>
</body>
</html>